{
 :db-key :qa
 :db-profiles {
               :qa {
                    :nn {
                         :host "orcl1.kiev"
                         :port 1521
                         :sid "nnqa1"
                         :user "nnuser"
                         :password "dbuser"
                         }
                    :ng {
                         :host "ngora1.kiev"
                         :port 1521
                         :sid "ngora1"
                         :user "win"
                         :password "dbuser"
                         }
                    }
               :dev {
                     :nn {
                          :host "orcl1.kiev"
                          :port 1521
                          :sid "nndev"
                          :user "nnuser"
                          :password "dbuser"
                          }
                     :ng {
                         :host "ngora2.kiev"
                         :port 1521
                         :sid "test"
                         :user "win"
                         :password "dbuser"
                         }
                    }
              }
 :message.login-error "The user name or password is not correct or the account is locked. Please note that you have a limited number of attempts before your account is locked."
}
