#login {
	background: black url("/img/win_bg.jpg") no-repeat fixed;
	background-size: cover;
	font-family: sans-serif;
}

#login #top {
	padding-left: 20px;
	padding-top: 15px;
	background-color: black;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px
}

#login #login-box {
	background-color: lightgray;
	position: fixed;
	top: 50%;
	transform: translateX(-50%);
	left: 50%;
	border: 1px solid lightgray;
	box-shadow: 5px 5px 5px;
	width: 440px;
}

#login .box-title {
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding-left: 10px;
}

#login .info-label {
	padding: 5px 20px 5px 20px;
	text-align: left;
	font-size: 14px;
}

#login .info-field {
	padding: 5px 20px 5px 20px;
	text-align: right;
}

#login #login-box .forgot-password {
	font-size: smaller;
}

#login #login-box .error-message {
	color: red;
	font-weight: bold;
	padding: 20px;
}

#login #reset-password-box {
	background-color: lightgray;
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid lightgray;
	box-shadow: 5px 5px 5px;
	width: 440px;
}

#login #bottom {
	background-color: blue;
	color: white;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

#app {
	margin: 0px;
	padding: 0px;
}

#app #head {
	background-color: #1E4176;
}

#app #head #logo {
	margin: 4px 20px 2px 5px;
	width: 105px;
}

#app #head #company-name {
	color: white;
	font-size:16px;
	width: 280px;
	margin-left:20px;
}

#app #head #welcome {
	color: yellow;
	margin-left: 120px;
	font-size: 11px;
}

#app #head #change-role {
	text-align: right;
}

#app #head #change-role a {
	font-family: tahoma, arial, sans-serif;
	color: white;
	font-size: 12px;
	text-decoration: none;
}

#app #head #change-role a:hover {
	color: yellow;
	font-size: 12px;
	text-decoration: underline;
}

#app #head #logout {
	text-align: right;
}

#app #head #logout a {
	font-family: tahoma, arial, sans-serif;
	color: white;
	font-size: 12px;
	text-decoration: none;
}

#app #head #logout a:hover {
	color: yellow;
	font-size: 12px;
	text-decoration: underline;
}

#app #head #comet-indicator {
	float: right;
}

#orgsettings {
	width: 650px;
	border: 3px solid #1e4176;
}

#orgsettings th {
	background-color: #1e4176;
	color: white;
}

#orgsettings legend {
	font-size: 11;
	color: rgb(21, 66, 139);
	font-family: tahoma, arial, helvetica, sans-serif;
}
